.slider {
    max-width: 500px;
    overflow: hidden;
}

.slides {
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    animation: glisse 20s infinite;
}

.slide {    
    max-width: 500px;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-500px);
    }

    43% {
        transform: translateX(-500px);
    }

    66% {
        transform: translateX(-1000px);
    }

    76% {
        transform: translateX(-1000px);
    }

    100% {
        transform: translateX(0);
    }
}.slider {
    max-width: 500px;
    overflow: hidden;
}

.slides {
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    animation: glisse 20s infinite;
}

.slide {    
    max-width: 500px;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-500px);
    }

    43% {
        transform: translateX(-500px);
    }

    66% {
        transform: translateX(-1000px);
    }

    76% {
        transform: translateX(-1000px);
    }

    100% {
        transform: translateX(0);
    }
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#title{
    justify-content: center;
    font-size: clamp(1rem, 1rem + 10vw, 2rem);
    max-width: 80vw;
    flex-wrap: wrap;
}
body {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Montserrat', sans-serif;
    background-image: url("/img/Smoke-BG.png");
    background-attachment: fixed;
    background-size: cover;
}

img .col-icone {
    margin: auto;
    font-size: 60px;
    color: aliceblue;
    padding-right: 20px;
    padding-left: 20px;
}

p {
    line-height: 35px;
    color: aliceblue;
    min-width: 300px;
}

.etages .etage .left .description {
    line-height: 35px;
    color: aliceblue;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: clamp(1rem, 1rem + 10vw, 1rem);
    background-color: black;
    margin-bottom: 0px;
    height: 86px;
}

nav .onglets {
    margin-top: 35px;
}

nav .onglets a {
    text-decoration: none;
    color: #ffbd4a;
    margin-right: 10px;
}

h1 {
    color: #ffbd4a;
    font-size: clamp(1rem, 1rem + 10vw, 1rem);
}

h2 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #ffbd4a;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-size: clamp(1rem, 1rem + 10vw, 1rem);
    line-height: 1.1;
}

.etages {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.etages .titre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0px;
    margin: 0px;
}

.etages .etage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;
    padding-bottom: 30px;
}

.etages .etage .right img {
    max-width: 35vw;
    min-width: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    margin-left: 25px;
}

.etages .etage .left {
    max-width: 35vw;
    color: #202020;
    font-size: clamp(1rem, 1rem + 10vw, 1rem);
    margin-right: 25px;
    padding-top: 30px;
}

.etages .etage .left2 img {
    max-width: 35vw;
    min-width: 400px;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-right: 30px;
    margin-right: 25px;
}

.etages .etage .right2 {
    max-width: 35vw;
    color: aliceblue;
    font-size: clamp(1rem, 1rem + 10vw, 1rem);
    margin-left: 25px;
    margin-top: 40px;
}



.bloc1 {
    display: flex;
    flex-direction: column;
    font-size: clamp(1rem, 1rem + 10vw, 1rem);
    margin-bottom: 0px;
    height: 500px;
    width: 30%;
    min-width: 300px;
    padding: 10px;

}
.bloc2 {
    display:flex;
    flex-direction: column;
    font-size: clamp(1rem, 1rem + 10vw, 1rem);
    margin-bottom: 0px;
    height: 500px;
    width: 30%;
    min-width: 300px;
    padding: 10px;

}
.bloc3 {
    display:flex;
    flex-direction: column;
    font-size: clamp(1rem, 1rem + 10vw, 1rem);
    margin-bottom: 0px;
    height: 500px;
    width: 30%;
    min-width: 300px;
    padding: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    margin: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

.container .imgcontainer {
    max-width: 800px;
    align-content: space-around;
}

.lastpart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: clamp(1rem, 1rem + 10vw, 1rem);
    margin-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    height: auto;
    align-items: center;
    position: relative;
    min-height: 1px;
}
.about {
    padding-right: 20px;
    padding-bottom: 30px;
}

.about2 {
    padding-right: 20px;
    padding-bottom: 30px;
}

.footer {
    margin: auto;
    width: 250px;
    max-width: 300px;
}

.a-bordered a-horizontal-stripes aplus-tech-spec-table {
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #0F1111;
    font-family: "Amazon Ember",Arial,sans-serif;
    overflow-wrap: break-word;
    text-align: inherit;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 0!important;
    border: 1px solid #e7e7e7;
    border-top-color: #eaeaea;
    border-bottom: none;
    border-spacing: 0;
    box-sizing: border-box;
    word-break: initial;
    height: 170px;
}

.a-column a-span6 a-span-last{
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #0F1111;
    font-family: "Amazon Ember",Arial,sans-serif;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: inherit;
    width: 48.948%;
    box-sizing: border-box;
    min-height: 1px;
    overflow: visible;
    margin-right: 0;
    float: right;
}

.a-column a-span6{
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #0F1111;
    font-family: "Amazon Ember",Arial,sans-serif;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: inherit;
    width: 48.948%;
    box-sizing: border-box;
    margin-right: 2%;
    float: left;
    min-height: 1px;
    overflow: visible;
}

.a-row{
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #0F1111;
    font-family: "Amazon Ember",Arial,sans-serif;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: inherit;
    width: 100%;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#title{
    justify-content: center;
    font-size: clamp(1rem, 1rem + 10vw, 2rem);
    max-width: 80vw;
    flex-wrap: wrap;
}
body {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Montserrat', sans-serif;
    background-image: url("/img/Smoke-BG.png");
    background-attachment: fixed;
    background-size: cover;
}

img .col-icone {
    margin: auto;
    font-size: 60px;
    color: aliceblue;
    padding-right: 20px;
    padding-left: 20px;
}

p {
    line-height: 35px;
    color: aliceblue;
    min-width: 300px;
}

.etages .etage .left .description {
    line-height: 35px;
    color: aliceblue;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: clamp(1rem, 1rem + 10vw, 1rem);
    background-color: black;
    margin-bottom: 0px;
    height: 86px;
}

nav .onglets {
    margin-top: 35px;
}

nav .onglets a {
    text-decoration: none;
    color: #ffbd4a;
    margin-right: 10px;
}

h1 {
    color: #ffbd4a;
    font-size: clamp(1rem, 1rem + 10vw, 1rem);
}

h2 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #ffbd4a;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-size: clamp(1rem, 1rem + 10vw, 1rem);
    line-height: 1.1;
}

.etages {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.etages .titre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0px;
    margin: 0px;
}

.etages .etage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;
    padding-bottom: 30px;
}

.etages .etage .right img {
    max-width: 35vw;
    min-width: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    margin-left: 25px;
}

.etages .etage .left {
    max-width: 35vw;
    color: #202020;
    font-size: clamp(1rem, 1rem + 10vw, 1rem);
    margin-right: 25px;
    padding-top: 30px;
}

.etages .etage .left2 img {
    max-width: 35vw;
    min-width: 400px;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-right: 30px;
    margin-right: 25px;
}

.etages .etage .right2 {
    max-width: 35vw;
    color: aliceblue;
    font-size: clamp(1rem, 1rem + 10vw, 1rem);
    margin-left: 25px;
    margin-top: 40px;
}



.bloc1 {
    display: flex;
    flex-direction: column;
    font-size: clamp(1rem, 1rem + 10vw, 1rem);
    margin-bottom: 0px;
    height: 500px;
    width: 30%;
    min-width: 300px;
    padding: 10px;

}
.bloc2 {
    display:flex;
    flex-direction: column;
    font-size: clamp(1rem, 1rem + 10vw, 1rem);
    margin-bottom: 0px;
    height: 500px;
    width: 30%;
    min-width: 300px;
    padding: 10px;

}
.bloc3 {
    display:flex;
    flex-direction: column;
    font-size: clamp(1rem, 1rem + 10vw, 1rem);
    margin-bottom: 0px;
    height: 500px;
    width: 30%;
    min-width: 300px;
    padding: 10px;
}
.lastpart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: clamp(1rem, 1rem + 10vw, 1rem);
    margin-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    height: auto;
    align-items: center;
    position: relative;
    min-height: 1px;
}
.about {
    padding-right: 20px;
    padding-bottom: 30px;
}

.about2 {
    padding-right: 20px;
    padding-bottom: 30px;
}

.footer {
    margin: auto;
    width: 250px;
    max-width: 300px;
}

.a-bordered a-horizontal-stripes aplus-tech-spec-table {
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #0F1111;
    font-family: "Amazon Ember",Arial,sans-serif;
    overflow-wrap: break-word;
    text-align: inherit;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 0!important;
    border: 1px solid #e7e7e7;
    border-top-color: #eaeaea;
    border-bottom: none;
    border-spacing: 0;
    box-sizing: border-box;
    word-break: initial;
    height: 170px;
}

.a-column a-span6 a-span-last{
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #0F1111;
    font-family: "Amazon Ember",Arial,sans-serif;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: inherit;
    width: 48.948%;
    box-sizing: border-box;
    min-height: 1px;
    overflow: visible;
    margin-right: 0;
    float: right;
}

.a-column a-span6{
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #0F1111;
    font-family: "Amazon Ember",Arial,sans-serif;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: inherit;
    width: 48.948%;
    box-sizing: border-box;
    margin-right: 2%;
    float: left;
    min-height: 1px;
    overflow: visible;
}

.a-row{
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #0F1111;
    font-family: "Amazon Ember",Arial,sans-serif;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: inherit;
    width: 100%;
    box-sizing: border-box;
}

@font-face { 
    font-family:'Amazon Ember';
    font-weight:200;
    src:url(https://m.media-amazon.com/images/S/sash/Dv1WQ5DdeMS5qP7.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/e0LnMbFWJC-TMQz.woff) format("woff");
  } 
  @font-face { 
    font-family:'Amazon Ember';
    font-weight:200;
    font-style:italic;
    src:url(https://m.media-amazon.com/images/S/sash/ozb5-CLHQWI6Soc.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/twzZHebXjCHBb6v.woff) format("woff");
  } 
  @font-face { 
    font-family:'Amazon Ember';
    src:url(https://m.media-amazon.com/images/S/sash/pDxWAF1pBB0dzGB.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/kfKKBuoqcD$AUKL.woff) format("woff");
  } 
  @font-face { 
    font-family:'Amazon Ember';
    font-style:italic;
    src:url(https://m.media-amazon.com/images/S/sash/WOnTLzkiaEccV7F.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/JJsp0ZvgpfwzJM6.woff) format("woff");
  } 
  @font-face { 
    font-family:'Amazon Ember';
    font-weight:500;
    src:url(https://m.media-amazon.com/images/S/sash/VjTR4RqBzY0mUYx.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/XIvhNCZAsrT80Wz.woff) format("woff");
  } 
  @font-face { 
    font-family:'Amazon Ember';
    font-weight:500;
    font-style:italic;
    src:url(https://m.media-amazon.com/images/S/sash/KwhNPG8Jz-Vz2X7.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/YAEPfuhs1l-argd.woff) format("woff");
  } 
  @font-face { 
    font-family:'Amazon Ember';
    font-weight:700;
    src:url(https://m.media-amazon.com/images/S/sash/KFPk-9IF4FqAqY-.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/mzVbGSgvdBfRLX9.woff) format("woff");
  } 
  @font-face { 
    font-family:'Amazon Ember';
    font-style:italic;
    font-weight:700;
    src:url(https://m.media-amazon.com/images/S/sash/2SazJx$EeTHfhMN.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/CjbL$jCCegyfqZ7.woff) format("woff");
  } 
  * { 
      -moz-box-sizing: border-box; 
      -webkit-box-sizing: border-box; 
      box-sizing: border-box;
  } 
  
  ol li { 
      list-style:  decimal;
      word-wrap: break-word; 
      margin: 0;
  } 
  
  .a-carousel-card { 
      vertical-align: top; 
      text-align: left; 
      overflow: hidden; 
      margin-left: 16px; 
      width: 160px; 
      min-height: 100%; 
      list-style-type: none; 
      display: inline-block; 
      white-space: normal; 
      letter-spacing: normal;
  } 
  
  .a-carousel-display-single .a-carousel-card { 
      width: 100%; 
      text-align: center; 
      margin: 0;
  } 
  
  .aplus-v2 .premium-aplus-module-13 .aplus-carousel-element { 
      position: relative; 
      width: 100%;
  } 
  
  ol { 
      margin:  0 0 0 20px; 
      color:  #0F1111;
      padding: 0;
  } 
  
  ol.a-carousel { 
      margin: 0; 
      list-style-type: none; 
      height: 100%; 
      white-space: nowrap; 
      overflow-x: visible; 
      color: #0F1111; 
      letter-spacing: -4px;
  } 
  
  .a-carousel-viewport { 
      width: 100%; 
      overflow: hidden;
  } 
  
  .a-carousel-col { 
      overflow: visible; 
      min-height: 1px; 
      position: relative; 
      zoom: 1;
  } 
  
  .a-carousel-center { 
      overflow: hidden;
  } 
  
  .a-carousel-has-buttons .a-carousel-center { 
      margin: 0 40px;
  } 
  
  .a-carousel-has-buttons.a-carousel-overlay-buttons .a-carousel-center { 
      margin: 0;
  } 
  
  .a-carousel-row-inner { 
      position: relative; 
      height: 100%;
  } 
  
  .a-row { 
      width: 100%;
  } 
  
  .a-carousel-container { 
      position: relative; 
      overflow: hidden;
  } 
  
  .a-spacing-none { 
      margin-bottom: 0!important;
  } 
  
  .a-section { 
      margin-bottom: 22px;
  } 
  
  .aplus-v2 .premium-aplus-module-13 .aplus-carousel-container { 
      position: relative;
  } 
  
  .aplus-v2 .premium-aplus { 
      font-family:  inherit;
  } 
  
  .aplus-v2.desktop { 
      max-width: 1464px; 
      min-width: 800px; 
      margin-left: auto; 
      margin-right: auto; 
      word-wrap: break-word; 
      overflow-wrap: break-word; 
      word-break: break-word;
  } 
  
  .a-spacing-large { 
      margin-bottom: 24px!important;
  } 
  
  .a-section:last-child { 
      margin-bottom: 0;
  } 
  
  #dp { 
      margin: 0 auto; 
      min-width: 1000px; 
      max-width: 1500px; 
      background-color: #fff;
  } 
  
  body { 
      font-size:     14px; 
      line-height:     20px; 
      font-family:     Arial,sans-serif;
      min-height:    100%;
      padding:   0; 
      margin:  0 8px!important;
      background:   #fff;
      color:  #0F1111;
  } 
  
  .a-ember body { 
      font-family: "Amazon Ember",Arial,sans-serif;
  } 
  
  html.a-js body { 
      margin: 0!important;
  } 
  
  html { 
      font-size: 100%; 
      -webkit-text-size-adjust: 100%;
  } 
  
  .aplus-card-description-wrapper  { 
      position: absolute; 
      top: 0; 
      left: 0; 
      width: 100%; 
      height: 100%;
  } 
  
  .aplus-container-1-2  { 
      padding: 40px 80px;
  } 
  
  .aplus-card-description  { 
      display: table; 
      width: 50%; 
      height: 100%; 
      color: #fff;
  } 
  
  .aplus-card-table-cell  { 
      display: table-cell; 
      vertical-align: middle; 
      text-align: left;
  } 
  
  .aplus-container-1  { 
      padding: 40px;
  } 
  
  .aplus-text-background  { 
      background:  rgba(0, 0, 0, 0.5);
      color: #fff;
  } 
  
  .aplus-card-body  { 
      padding: 20px 40px 0 0;
  } 
  
  .aplus-card-link-button  { 
      text-align: center; 
      padding-top: 20px;
  } 
  
  h1 { 
      padding:    0; 
      margin:    0;
      padding-bottom:   4px;
      text-rendering:  optimizeLegibility;
      font-weight: 400; 
      font-size: 28px; 
      line-height: 36px;
  } 
  
  .a-text-bold { 
      font-weight: 700!important;
  } 
  
  h1:last-child { 
      padding-bottom: 0;
  } 
  
  .aplus-h2  { 
      font-family:   inherit;
      font-size: 26px; 
      line-height: 1.25em; 
      font-weight: 500;
  } 
  
  .aplus-text-background h1  { 
      color: #fff;
  } 
  
  p { 
      padding: 0; 
      margin: 0 0 14px 0;
  } 
  
  p:last-child { 
      margin-bottom: 0;
  } 
  
  .aplus-p3  { 
      font-family:   inherit;
      font-size: 14px; 
      line-height: 1.4em; 
      font-weight: 300;
  } 
  
  .a-button { 
      background: #FFF; 
      border-radius: 3px; 
      border-color: #D5D9D9; 
      border-style: solid; 
      border-width: 1px; 
      cursor: pointer; 
      display: inline-block; 
      padding: 0; 
      text-align: center; 
      text-decoration: none!important; 
      vertical-align: middle;
  } 
  
  .a-button-toggle.a-button { 
      border-color: #888C8C; 
      border-radius: 8px;
  } 
  
  .a-button:hover { 
      background-color: #F7FAFA; 
      border-color: #D5D9D9;
  } 
  
  .a-button-inner { 
      display: block; 
      position: relative; 
      overflow: hidden; 
      height: 29px; 
      border-radius: 2px;
  } 
  
  .a-button-toggle .a-button-inner  { 
      border-radius: 7px; 
      background-color: #FFF; 
      background-image: none; 
      height: auto;
  } 
  
  .a-button-toggle:hover .a-button-inner  { 
      background-color: #F7FAFA;
  } 
  
  .a-button-text { 
      background-color: transparent; 
      border: 0; 
      display: block; 
      font-size: 13px; 
      line-height: 29px; 
      margin: 0; 
      outline: 0; 
      padding: 0 10px 0 11px; 
      text-align: center; 
      white-space: nowrap;
  } 
  
  a.a-button-text { 
      width: 100%; 
      height: 100%;
  } 
  
  .a-button a  { 
      color: #0F1111; 
      text-decoration: none!important;
  } 
  
  a,a:link { 
      text-decoration: none; 
      color: #007185;
  } 
  
  .a-button .a-button-text  { 
      color: #0F1111;
  } 
  
  .a-button-toggle .a-button-text  { 
      line-height: 19px; 
      padding: 5px 10px 5px 11px; 
      text-align: left; 
      white-space: normal;
  } 
  
  a:active,a:hover { 
      outline: 0;
  } 
  
  a:hover { 
      text-decoration: underline; 
      cursor: pointer; 
      color: #C7511F;
  } 
  
  .a-button .a-button-text:hover  { 
      color: #0F1111;
  } 
  
  .a-button a ,.a-button:hover:not(.a-button-search) a  { 
      color: #0F1111; 
      text-decoration: none!important;
  } 
  
  
  